{% extends 'base.html' %}
{% block content %}

<!-- Header-->
 <header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to CowbellCoffee</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br/>
                    <br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas suscipit mi et consequat. Nulla facilisi. Maecenas sapien ligula, venenatis at aliquam et, placerat vel eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin condimentum risus at dictum placerat. Vestibulum nec odio et mi porttitor tincidunt. Curabitur quis ultricies ante. Nunc tempor nisi in diam ornare, vitae condimentum orci porttitor. Sed eget turpis vel enim euismod varius eu et velit. Donec ultrices massa ut tellus ultrices convallis. Proin vestibulum erat mi, eget aliquam lorem ullamcorper a. Nulla porttitor semper arcu. Fusce et lobortis erat. Praesent a rutrum ante, rhoncus elementum metus. In sit amet hendrerit ligula, ac ultrices magna.
                    <br/>
                    <br/>
                    Morbi vel maximus tellus. Quisque iaculis vestibulum ante, ac sagittis libero tincidunt vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed dapibus finibus ante et dapibus. Nunc cursus ipsum eu sollicitudin fermentum. Vivamus viverra placerat efficitur. Aliquam elit diam, lacinia euismod sodales at, pretium vitae est.
                    <br/>
                    <br/>
                    Nam ultrices tristique lacus, ut ornare lectus lobortis vitae. Nulla faucibus hendrerit magna in porta. Morbi faucibus sed lorem et ultrices. Maecenas elementum velit sed urna porta accumsan. Aliquam justo orci, sagittis sit amet luctus ac, iaculis sit amet odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin elementum sem ac dui molestie hendrerit. Nullam ut enim tincidunt justo commodo porttitor. Maecenas tortor nunc, vehicula ac interdum at, porta ut libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br/>
                    <br/>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}
