{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Contact</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>

<!-- Centered Content -->
<div style="display: flex; justify-content: center; align-items: center; min-height: 50vh; flex-direction: column;">
    <div style="text-align: center;">
        <h3>
            Send email inquiries to admin@CowbellCoffee.com
        </h3>
    </div>
</div>

{% endblock %}
