{% extends 'base.html' %}
{% block content %}

<!-- Header-->
 <header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Order History</h1>
            
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    {% if orders %}
                        {% for order in orders %}
                            <div>
                                Order ID: {{ order.id }}&nbsp |
                                &nbspTotal: {{ order.total }}
                                <br/>
                                <br/>
                                <br/>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>
                            <br/>
                            <p>No orders found.</p>
                        </div>
                    {% endif %}
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <br/>
                    <br/>

                    <br/>
                    <br/>

                    <br/>
                    <br/>
                    
                                        
                    <br/>
                    <br/>
                                        
                    
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}
