{% extends 'base.html' %}

{% block content %}
       
<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>

<br/>
<div class="container">
    {% if cart_products %}
        {% for product in cart_products %}
            <div class="card mb-3" style="height: 275px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="height: 250px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <center>
                            <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
                            <br/>
                            

                            {% if product.is_sale %}
                                <div class="badge bg-danger text-white" >Sale!</div>
                                <!-- Product price-->
                                <strike> ${{ product.price }} </strike>
                                <br/>
                                ${{ product.sale_price }}

                            {% else %}
                                ${{ product.price }}
                                <br/> ID: {{ product.id }}
                            {% endif %}

                            <br/><br/><br/>
                            <div class="row justify-content-center">
                                <div class="col-md-2">Quantity:</div>
                                <div class = "col-md-2">
                                    <select class="form-select form-select-sm" id="select{{product.id}}">
                                        
                                            {% for key, value in quantities.items %} <!-- Python Dict {'3': 2, '4', 1} key is prod.id and value is qty-->
                                                {% if key == product.id|slugify %} <!-- key is a str, product.id is a int, |slugify makes it comparable -->
                                                    <option selected> <!-- Default shown in dropbox -->{{ value }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <br/>
                            <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
                            <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} 
        <div align="right">
            <h3> Total: ${{ totals }} </h3>
            <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
        </div>
        <br/> <br/>
    {% else %}
            <br/>
            There's Nothing In Your Cart...
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        
    {% endif %}
</div>

<script>
// JS Update Cart
$(document).on('click', '.update-cart', function(e){ // use . for class id lookup
    e.preventDefault(); // checks to see if button was actually pressed
    // grab prod id
    var productid = $(this).data('index');
    // ajax - changes backend without refreshing page
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_update' %}',
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}', // (csrf = cross-site-request-forgery) prevent hackers hjackin
            action: 'post',
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){
            // err msg/actions
        }
    }) 
})


// JS Delete Item From Cart
$(document).on('click', '.delete-product', function(e){ // use . for class id lookup
    e.preventDefault(); // checks to see if button was actually pressed
    // grab prod id
    // var productid = $(this).data('index');

    // ajax - changes backend without refreshing page
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}', // (csrf = cross-site-request-forgery) prevent hackers hjackin
            action: 'post',
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){
            // err msg/actions
        }
    }) 
})
</script>
{% endblock %}