{% extends 'base.html' %}

{% block content %}
       
<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>

<br/>
<div class="container">
    {% if cart_products %}
        {% for product in cart_products %}
            <div class="card mb-3">
                <div class="row g-0 align-items-center">
                    <!-- Adjusted image container -->
                    <div class="col-12 col-md-4 text-center">
                        <img 
                            src="{{ product.image.url }}" 
                            class="img-fluid img-thumbnail product-image" 
                            alt="Product Image">
                    </div>
                    
                    <div class="col-12 col-md-8">
                    
                        <div class="card-body">
                        
                            <h5 class="card-title text-center "><strong>{{ product.name }}</strong></h5>
                            <p class="text-center ">
                                {% if product.is_sale %}
                                    <span class="badge bg-danger text-white">Sale!</span>
                                    <strike>${{ product.price }}</strike> ${{ product.sale_price }}
                                {% else %}
                                    ${{ product.price }}
                                {% endif %}
                            </p>
                            <div class="d-flex justify-content-center  align-items-center">
                                <span class="me-2">Quantity:</span>
                                <select class="form-select form-select-sm w-auto" id="select{{ product.id }}">
                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            <option selected>{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="d-flex justify-content-center  mt-3">
                                <button type="button" data-index="{{ product.id }}" class="btn btn-secondary me-2 update-cart">Update</button>
                                <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">Remove</button>
                            </div>
                        
                        </div>
                    
                    </div>
                
                </div>
            </div>
        {% endfor %}
        <div class="text-end mb-5"> <!-- Add margin-bottom -->
            <h3>Total: ${{ totals }}</h3>
            <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
        </div>
    {% else %}
        <p class="text-center">There's nothing in your cart...</p>
    {% endif %}
</div>

<!-- CSS for image resizing -->
<style>
    .product-image {
        max-width: 100%; /* Ensure it does not exceed its container width */
        max-height: 200px; /* Restrict height */
        object-fit: cover; /* Maintain aspect ratio */
    }
</style>



<script>
// JS Update Cart
$(document).on('click', '.update-cart', function(e){ // use . for class id lookup
    e.preventDefault(); // checks to see if button was actually pressed
    // grab prod id
    var productid = $(this).data('index');
    // ajax - changes backend without refreshing page
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_update' %}',
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}', // (csrf = cross-site-request-forgery) prevent hackers hjackin
            action: 'post',
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){
            // err msg/actions
        }
    }) 
})


// JS Delete Item From Cart
$(document).on('click', '.delete-product', function(e){ // use . for class id lookup
    e.preventDefault(); // checks to see if button was actually pressed
    // grab prod id
    // var productid = $(this).data('index');

    // ajax - changes backend without refreshing page
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}', // (csrf = cross-site-request-forgery) prevent hackers hjackin
            action: 'post',
        },

        success: function(json){
            location.reload();
        },

        error: function(xhr, errmsg, err){
            // err msg/actions
        }
    }) 
})
</script>
{% endblock %}