{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Delete Product</h1>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <!-- Image Section -->
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="height:250px">
        </div>

        <!-- Confirmation Section -->
        <div class="col-md-6 text-center text-md-right">
            <h4>Are you sure you want to delete the product "{{ product.name }}"?</h4>
            <form method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn">Yes, Delete</button>
            </form> &nbsp&nbsp&nbsp&nbsp 
            <a href="{% url 'seller_dashboard' %}" class="btn btn-secondary btn">Cancel</a>
        </div>
    </div>
</div>

{% endblock %}
