{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Edit Product </h1>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <!-- Messages Section -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Form Section -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Product Name -->
                <div class="form-group mb-3">
                    <label for="id_name" class="form-label">Product Name</label>
                    {{ form.name }}
                </div>

                <!-- Product Price -->
                <div class="form-group mb-3">
                    <label for="id_price" class="form-label">Price</label>
                    {{ form.price }}
                </div>

                <!-- Product Category -->
                <div class="form-group mb-3">
                    <label for="id_category" class="form-label">Category</label>
                    {{ form.category }}
                </div>

                <!-- Product Description -->
                <div class="form-group mb-3">
                    <label for="id_description" class="form-label">Description (Max Length: 1000 Characters)</label>
                    {{ form.description }}
                </div>

                <!-- Product Image -->
                <div class="form-group mb-3">
                    <label for="id_image" class="form-label">Product Image (Acceptable Format: JPG/JPEG, PNG, WebP)</label>
                    {{ form.image }}
                </div>

                <!-- On Sale Checkbox -->
                <div class="form-check mb-3">
                    {{ form.is_sale }}
                    <label for="id_is_sale" class="form-check-label">On Sale</label>
                </div>

                <!-- Sale Price -->
                <div class="form-group mb-3">
                    <label for="id_sale_price" class="form-label">Sale Price</label>
                    {{ form.sale_price }}
                </div>

                <!-- Submit Button -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Edit Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
